@charset "utf-8";
/* CSS Document */
body
{
	
}

.btnsiguiente
{
	margin-top: -142px;
	margin-left: 341px;
	z-index: 10;
}



submit
{
		margin-left: 237px;
	/*background-image:url(../img/btn_siguiente3.png);
	background-repeat:no-repeat;*/
	background-color:transparent;
	width:161px;
	height:64px;
	border:none;
	cursor:pointer;
}

.formulario
{
	 margin-left: 149px;
    margin-top: -411px;
	/* color:#000;*/
	 
}
/**datos formulario*/
/*posicion campo de texto nombre*/
.usuario
{
	margin-left: 141px;
    margin-top: -12px;
	
}
/*posicion campo de texto apellido*/
.apellido
{
	margin-left: 287px;
    margin-top: -31px;
}
/*posicion campo de texto celular*/
.celular
{
	margin-left: 138px;
    margin-top: -25px;
}
/*posicion campo de texto email*/
.email
{
	margin-top: -26px;
	margin-left: 138px;
}
/*posicion campo de texto cedula*/
.cedula
{
	margin-top: -24px;
	margin-left: 138px;
}
.ciudad
{
	margin-top: -24px;
	margin-left: 138px;
}
/*posicion label de texto nombre*/
.lusu
{
	margin-top: 23px;
	margin-left: 28px;
	width: 159px !important;
	height: 5px !important;
}
/*posicion label de texto cel*/
.lcel
{
	margin-left: 34px;
    margin-top: 28px;
	/*width:5px;
	height:5px;*/
}
/*posicion label de texto email*/
.lemail
{
	margin-top: 30px;
	margin-left: 37px;
/*width:10px;
	height:5px;*/
}
/*posicion label de texto ced*/
.lced
{
	margin-top: 21px;
	margin-left: 36px;
/*width:5px;
	height:5px;*/
}
/*diseño de los inputs*/
input
{
	padding:7px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
	
}
.botonilumina
{
	margin-left: 194px;
    margin-top: 16px;	
	z-index:100;
}
